/* Color themes */

:root {
    --spotify: #1CB955;
    --spotify-visited: .5;
    /* opacity */
}


/* Styling classes */

.clickable {
    cursor: pointer;
}


/* Components */

.results-title h2::after {
    content: " Related Artists";
    font-weight: 200;
}

.results-title h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.results-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results-list li {
    display: inline-block;
}

.results-list figcaption {
    font-size: 1.8rem;
}

.results-list img {
    width: 100%;
    height: auto;
}

.results-spotify .fa,
.results-spotify a,
.results-spotify a:hover {
    color: var(--spotify);
}

.results-spotify a:visited {
    opacity: var(--spotify-visited);
}

.notes {
    margin-top: 1rem;
    color: gray;
}