/* Color themes */

:root {
    --link: blue;
    --link-hover: darkblue;
    --spotify: #1CB955;
    --spotify-feedback: #00ff5e;
    --spotify-visited: .5;
    /* opacity */
}


/* Styling classes */

.clickable {
    cursor: pointer;
}

.padding-1 {
    padding: .25rem;
}


/* Reuseable Components */

.x {
    color: var(--link);
    text-decoration: none;
}

.x:hover {
    color: var(--link-hover);
}


/* Components */

.results-title h2::after {
    content: " Related Artists";
    font-weight: 200;
}

.results-title h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.results-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results-list li {
    display: inline-block;
}

.results-list figcaption {
    font-size: 1.8rem;
}

.results-list img {
    width: 100%;
    height: auto;
}

.results-spotify.card-action {
    padding: 10px 0 0 0;
    text-align: center;
}

.results-spotify .fa,
.results-spotify a {
    color: var(--spotify) !important;
    text-transform: none !important;
    transition: color 500ms;
}

.results-spotify a:hover {
    color: var(--spotify-feedback) !important;
}

.results-spotify a:visited {
    opacity: var(--spotify-visited) !important;
}

.notes {
    margin-top: 1rem;
    color: gray;
}