:root {
    --particle-js: purple;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#particles-js {
    position: absolute;
    width: 100%;
    background-color: purple;
    background-position: 50% 50%;
}